<div id="product-collection-container" class="page-container">
    <div style="border: 1px solid #232323; margin: 20px; display:inline-block; text-align: center;"
         ng-repeat="product in vm.products" >
        <h2 ng-click="vm.openProduct(product.ProductID)">{{product.Name}}</h2>
        <div ng-click="vm.openProduct(product.ProductID)"><img ng-src="http://83.212.107.169{{product.Thumbnail}}"></div>
        <div>{{product.Price}} €</div>
        <button ng-click="vm.addToCart(product.ProductID)">add to cart</button>
    </div>
</div>
