<div id="product-collection-container" class="page-container">
    <div class="loader" ng-show="vm.loader"><div class="loader-icon"></div></div>
    <div class="product" ng-repeat="product in vm.products | filter : srch.name" >
        <h2 class="hoverHand" ng-click="vm.openProduct(product.ProductID)">{{product.Name}}</h2>
        <div class="hoverHand" ng-click="vm.openProduct(product.ProductID)"><img ng-src="http://83.212.101.162/{{product.Thumbnail}}"></div>
        <div>{{product.Price}} €</div>
        <button class="btn btn-primary" style="margin-bottom: 10px" ng-click="vm.addToCart(product.ProductID, product)">Προσθήκη στο καλάθι <span class="glyphicon glyphicon-shopping-cart"></span></button>
    </div>
</div>
