$darkClr: #b71c1c;
$lightClr: #f7f7f7;
$mainClr: #c62828;
$bgClr: #ffffff;

$tabColor: $lightClr;
$tabTextColor: $darkClr;
$tabOutlineColor: $darkClr;
$tabTextShadow: none;
$tabPageColor: $bgClr;

$activeTabColor: $darkClr;
$activeTabTextColor: $lightClr;
$activeTabTextShadow: 0 0 5px #f4fffc;