<div id="products-container" class="page-container">
    <div style="margin: 25px">
        <div><label for="prudct-id">Get producct by ID</label></div>
        <input id="prudct-id" type="number" ng-model="vm.input"/>
        <button ng-click="vm.getProduct()">get product</button>
        <div id="error" ng-hide="vm.error" style="color: #ff0000">This id doesn't exist</div>
    </div>
    <table ng-hide="vm.hide">
        <tr>
            <th>image</th>
            <th>name</th>
            <th>price</th>
            <th>description</th>
            <th>short desc</th>
            <th>category id</th>
            <th>SKU</th>
        </tr>
        <tr>
            <td><img ng-src="http://83.212.107.169{{vm.singleProduct.Thumbnail}}"></td>
            <td>{{vm.singleProduct.Name}}</td>
            <td>{{vm.singleProduct.Price}}</td>
            <td>{{vm.singleProduct.Description}}</td>
            <td>{{vm.singleProduct.ShortDescription}}</td>
            <td>{{vm.singleProduct.CategoryID}}</td>
            <td>{{vm.singleProduct.SKU}}</td>
        </tr>
    </table>

    <table>
        <tr>
            <th>image</th>
            <th>name</th>
            <th>price</th>
            <th>description</th>
            <th>short desc</th>
            <th>category id</th>
            <th>SKU</th>
        </tr>
        <tr ng-repeat="product in vm.products">
            <td><img ng-src="http://83.212.107.169{{product.Thumbnail}}"></td>
            <td>{{product.Name}}</td>
            <td>{{product.Price}}</td>
            <td>{{product.Description}}</td>
            <td>{{product.ShortDescription}}</td>
            <td>{{product.CategoryID}}</td>
            <td>{{product.SKU}}</td>
        </tr>
    </table>
</div>
