<div id="product-container" class="page-container">
    <table>
        <tr>
            <th>image</th>
            <th>name</th>
            <th>price</th>
            <th>description</th>
            <th>short desc</th>
            <th>category id</th>
            <th>SKU</th>
        </tr>
        <tr>
            <td><img ng-src="http://83.212.107.169{{vm.product.Thumbnail}}"></td>
            <td>{{vm.product.Name}}</td>
            <td>{{vm.product.Price}}</td>
            <td>{{vm.product.Description}}</td>
            <td>{{vm.product.ShortDescription}}</td>
            <td>{{vm.product.CategoryID}}</td>
            <td>{{vm.product.SKU}}</td>
        </tr>
    </table>
</div>